@font-face {
  font-family: "puvi-Medium";
  src: url("../fonts/OpenType-TT/Zoho\ Puvi\ Medium.ttf");
}

@font-face {
  font-family: "puvi-Regular";
  src: url("../fonts/OpenType-TT/Zoho\ Puvi\ Regular.ttf");
}

@font-face {
  font-family: "puvi-Light";
  src: url("../fonts/OpenType-TT/Zoho\ Puvi\ Light.ttf");
}

@font-face {
  font-family: "puvi-Bold";
  src: url("../fonts/OpenType-TT/Zoho\ Puvi\ Bold.ttf");
}

@font-face {
  font-family: "puvi-Semi-Bold";
  src: url("../fonts/OpenType-TT/Zoho\ Puvi\ Semibold.ttf");
}

* {
  margin: 0;
  padding: 0;
}

/* Header Style */
header {
  z-index: 1;
  background-color: #000000;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 1px;
}

nav {
  padding: 0px !important;
}

.navbar .navbar-brand img {
  width: 160px;
}

.nav_list {
  display: flex;
  align-items: center;
}

.navbar-nav .nav-link {
  font-size: 16px;
  font-family: "puvi-Regular";
}

.navbar-nav li {
  margin-left: 36px;
}

.navbar-nav .nav-item .nav-link {
  color: white !important;
  font-family: "puvi-Semi-Bold";
}

.navbar-nav .nav-item .nav-link:hover {
  color: rgb(250 204 21) !important;
}

.nav-login-btn .login-a-tag {
  width: 122px;
  height: 52px;
  font-size: 16px;
  margin-left: 36px;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "puvi-Semi-Bold";
  background-color: rgb(234, 179, 8);
  border: 2px solid rgb(250 204 21);
}

.nav-login-btn .login-a-tag:hover {
  background-color: #ffff;
  color: rgb(250 204 21) !important;
}

/* Section-1 Style */
.section1 {
  width: 100px;
  min-height: 500px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  background-image: url("https://res.cloudinary.com/dxjdfqjau/image/upload/v1719166768/image_2_ozmy3x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.sec1-content-box {
  width: 854px;
  min-height: 296px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sec1-content-1 {
  font-size: 84px;
  word-spacing: 1px;
  min-height: 132px;
  text-align: center;
  align-content: center;
  color: #f5f5f4;
  font-family: "puvi-Bold";
}

.orange-text {
  color: #f97316;
}

.sec1-content-2 {
  min-height: 48px;
  font-size: 30px;
  color: #f5f5f4;
  text-align: center;
  align-content: center;
  font-family: "puvi-Bold";
}

.sec1-content-3 {
  min-height: 88px;
  display: flex;
  gap: 112px;
  align-items: end;
}

.sec1-content-3 a:hover{
  text-decoration: none;
}

.sec1-content-3-button {
  padding: 20px;
  height: 56px;
  color: #f5f5f4;
  font-size: 16px;
  border-radius: 40px;
  font-weight: bold;
  text-align: center;
  align-content: center;
  background-color: #ea580c;
  background-color: rgb(234, 88, 12);
}

.sec1-content-3-button:hover {
  cursor: pointer;
  background-color: #dc2626;
}

/* Section-2 Style */
.section2 {
  min-height: 608px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #171717;
}

.sec2-content-box {
  width: auto;
  height: auto;
  padding: 30px 0px;
  display: flex;
  gap: 68px;
  justify-content: space-around;
}

.sec2-content-1 {
  width: 308px;
  height: 284px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: 7px solid #f97316;
}

.sec2-content-1-body {
  position: relative;
}

.sec2-content-1-body h1 {
  margin: 0px;
  padding: 0px;
  color: #ffff;
  font-size: 58px;
  font-family: "puvi-Bold";
}

.sec2-content-plus {
  padding: 0px;
  color: #ffff;
  font-size: 50px;
  color: #fb923c;
  position: absolute;
  top: -38px;
  left: -30px;
  font-family: "puvi-Bold";
}

.sec2-content-2 {
  color: #ffff;
  font-size: 24px;
  max-width: 545px;
  padding: 0px 30px;
  font-family: "puvi-Bold";
}

/* Title Style Start */
.title-body {
  width: 100%;
  height: auto;
  display: flex;
  align-content: center;
  justify-content: center;
}

.title-sub-body {
  width: auto;
  position: relative;
  align-content: center;
}

.title-content {
  color: #ffff;
  font-size: 48px;
  font-family: "puvi-Bold";
}

.title-content span {
  width: 30px;
  height: 30px;
  color: #fb923c;
  margin-right: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 4px;
  left: -30px;
}

.title-line-body {
  width: 100%;
  height: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-line {
  width: 96px;
  height: 100%;
  background-color: #c2410c;
}

/* Section-3 Style */
.section3 {
  min-height: 1072px;
  padding: 20px 0px;
  padding-bottom: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #0a0a0a;
}

.sec3-content-1 {
  max-width: 1031px;
  font-size: 21px;
  color: white;
  margin-top: 56px;
  padding: 0px 20px;
  font-family: "puvi-Bold";
}

.sec3-content-2 {
  max-width: 1151px;
  min-height: 680px;
  margin-top: 56px;
  display: flex;
  gap: 7px;
  flex-wrap: wrap;
  justify-content: center;
}

.sec3-content-2-img {
  width: 224px;
  height: 224px;
  border-radius: 10px;
}

.sec3-content-2-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.sec3-content-3 {
  max-width: 871px;
  min-height: 320px;
  padding: 80px;
  margin-top: 108px;
  border-radius: 10px;
  position: relative;
  background-color: #171717;
}

.sec3-content-title-body {
  position: absolute;
  top: -30px;
  right: 0%;
}

.sec3-content-3-text {
  color: white;
  font-size: 20.9px;
  font-family: "puvi-Bold";
}

/* Section-4 Style */
.section4 {
  width: 100%;
  min-height: 710px;
  padding: 20px 0px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #171717;
}

.sec4-content-1 {
  max-width: 1031px;
  min-height: 84px;
  color: white;
  font-size: 20px;
  margin-top: 56px;
  font-family: "puvi-Bold";
}

.sec4-content-2 {
  max-width: 1016px;
  min-height: 400px;
  margin-top: 48px;
  display: flex;
  gap: 80px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.sec4-content-2-box {
  width: 280px;
  height: 400px;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000;
}

.sec4-content-2-img {
  width: 280px;
  height: 200px;
  object-fit: cover;
}

.sec4-content-2-deatils {
  margin-top: 8px;
  width: 232px;
  height: 120px;
}

.sec4-content-2-deatil-title {
  width: 100%;
  font-size: 22px;
  color: #e2e8f0;
  font-family: "puvi-Bold";
  text-align: center;
}

.sec4-content-2-deatil-content {
  font-size: 16px;
  color: #e2e8f0;
  margin-top: 8px;
}

.sec4-content-2-button-tag:hover {
  text-decoration: none;
}

.sec4-content-2-button {
  padding: 8px 16px;
  color: white;
  border-radius: 5px;
  background-color: #f97316;
}

.sec4-content-2-button:hover {
  cursor: pointer;
  border-radius: 5px;
  background-color: #dc2626;
}

/* Section-5 Style */
.section5 {
  width: 100%;
  min-height: 706px;
  padding-bottom: 100px;
  background-color: #0a0a0a;
}

.sec5-title-sub-body {
  margin-top: 48px;
}

.sec5-content-1 {
  width: 100%;
  min-height: 304px;
  margin-top: 144px;
  display: flex;
  justify-content: center;
}

.sec5-content-box1 {
  max-width: 1286px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
}

.sec5-content-box1-content-body {
  max-width: 621px;
  min-height: 304px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #262626;
}

.sec5-content-box1-content-sub-body {
  max-width: 557px;
  min-height: 240px;
}

.sec5-content-box1-content-header {
  width: 116px;
  height: 56px;
}

.sec5-content-box1-content-header img {
  width: 100%;
  height: 100%;
}

.sec5-content-box1-content {
  font-size: 20px;
  color: #ffff;
  padding-left: 28px;
}

.sec5-content-box1-content-footer {
  width: 100%;
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.sec5-content-box1-content-footer-img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.sec5-content-box1-content-footer-text {
  display: flex;
  flex-direction: column;
}

.sec5-content-box1-content-footer-text span {
  font-size: 16px;
  color: #ffff;
}

/* Footer Style */
footer {
  height: auto;
  background-color: #171717;
}

.footer {
  min-height: 644px;
  padding-bottom: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content-box {
  max-width: 1198px;
  min-height: 548px;
  margin-top: 96px;
  display: flex;
  gap: 124px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.footer-content1 {
  max-width: 523px;
  padding-bottom: 40px;
}

.footer-content1-img {
  width: 336px;
  height: 176px;
}

.footer-content1-img img {
  width: 100%;
  height: 100%;
}

.footer-content1-text-body {
  max-width: 411px;
  height: 160px;
  padding-top: 32px;
  padding-left: 40px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.footer-content1-text {
  display: flex;
  align-items: center;
  gap: 24px;
}

.footer-content1-text img {
  width: 20px;
  height: 20px;
}

.footer-content1-text span {
  color: white;
  font-size: 20px;
  font-family: "puvi-Bold";
}

.footer-content2 {
  max-width: 660px;
  min-height: 548px;
}

.footer-content2 form {
  width: auto;
  height: auto;
  display: flex;
  gap: 32px;
  flex-direction: column;
}

.footer-form-content {
  width: 100%;
  min-height: 92px;
}

.footer-form-content1 {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
}

.footer-form-content3 {
  min-height: 10px;
}

.footer-form-content4 {
  min-height: 56px;
}

form label {
  font-size: 18px;
  color: white;
  font-family: "puvi-Semi-bold";
}

input[type="text"]:focus,
textarea:focus {
  border: 1px solid white;
}

.footer-form-content1 span {
  width: 320px;
  height: 100%;
}

.footer-form-content1 span input {
  width: 100%;
  height: 56px;
  outline: none;
  color: white;
  padding: 16px 12px;
  border-radius: 30px;
  border: 1px solid black;
  background-color: #000000;
}

.footer-form-content2 input {
  width: 100%;
  height: 56px;
  outline: none;
  color: white;
  padding: 16px 12px;
  border-radius: 30px;
  border: 1px solid black;
  background-color: #000000;
}

.footer-form-content3 textarea {
  width: 100%;
  outline: none;
  color: white;
  padding: 16px 12px;
  border-radius: 20px;
  border: 1px solid black;
  background-color: #000000;
}

.footer-form-content3 textarea:focus {
  border: 1px solid white;
}

.footer-form-content4 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-form-content4 button {
  padding: 20px;
  border: none;
  color: white;
  border-radius: 40px;
  font-family: "puvi-Bold";
  background-color: #fb923c;
}

.footer-form-content4 button:hover {
  cursor: pointer;
  background-color: #f59e0b;
}

/* Copyrights Style Start */
.copyrights {
  padding-bottom: 24px;
  background-color: #171717;
}

.sub-copyrights {
  width: 100%;
  min-height: 52px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #fb923c;
}

.copyrights-content {
  display: flex;
  flex-wrap: wrap;
  gap: 490px;
  justify-content: space-around;
}

.copyrights-icon {
  width: 120px;
  height: 52px;
  display: flex;
  gap: 24px;
  align-items: center;
}

.copyrights-icon img {
  width: 21px;
  height: 21px;
  object-fit: cover;
  cursor: pointer;
}

.copyrights-text {
  width: 360px;
  height: 52px;
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.copyrights-text span {
  font-size: 12px;
  color: white;
}

/* Media-Queries Style Start */

/* Menu Bar gap align */
@media (min-width: 480px) and (max-width: 991px) {
  .navbar-nav li {
    margin-left: 15px;
  }

  .nav_list {
    align-items: start;
  }

  .nav-login-btn .login-a-tag {
    margin-left: 0px;
  }
}

/* Copyrights gap align */
@media (min-width: 480px) and (max-width: 993px) {
  .copyrights-content {
    gap: 350px;
  }
}

@media (min-width: 480px) and (max-width: 852px) {
  .copyrights-content {
    gap: 200px;
  }
}

@media (min-width: 480px) and (max-width: 709px) {
  .copyrights-content {
    gap: 30px;
  }
}



@media (min-width: 480px) and (max-width: 700px) {
  .copyrights-content {
    gap: 30px;
  }
}

@media (min-width: 480px) and (max-width: 539px) {
  .copyrights-content {
    gap: 0px;
  }
}


/* Phone Size Media-Queries   */
@media (min-width: 360px) and (max-width: 430px) {
  /* Header Style */
  .nav_list {
    align-items: start;
  }

  .navbar-nav .nav-link {
    font-size: 14px;
  }

  .navbar-nav li {
    margin-left: 0px;
  }

  .nav-login-btn .login-a-tag {
    margin-left: 0px;
    width: 95px;
    height: 42px;
    font-size: 14px;
  }

  /* Section-1 Style */
  .section1 {
    min-height: 410px;
    background-position: -120px;
  }
  .sec1-content-1 {
    font-size: 58px;
  }

  .sec1-content-2 {
    font-size: 24px;
  }

  .sec1-content-3 {
    gap: 50px;
  }

  .sec1-content-3-button {
    height: 0;
    /* padding: 22px 15px; */
    font-size: 12px;
  }

  /* Section-2 Style */
  .section2 {
    padding-top: 20px;
    min-height: 380px;
  }

  .sec2-content-1 {
    width: 200px;
    height: 180px;
  }

  .sec2-content-box {
    gap: 30px;
  }

  .sec2-content-1-body h1 {
    font-size: 40px;
  }

  .sec2-content-plus {
    font-size: 45px;
    top: -25px;
  }

  .sec2-content-2 {
    font-size: 16px;
    padding: 5px 15px;
  }

  /* Title Style  */
  .title-content {
    font-size: 26px;
  }

  .title-content span {
    top: -4px;
    left: -25px;
  }

  .title-line {
    width: 70px;
  }

  /* Section-3 Style */
  .section3 {
    padding-bottom: 40px;
  }

  .sec3-content-1 {
    font-size: 16px;
    padding: 0px 0px;
    margin-top: 30px;
  }

  .sec3-content-2-img {
    width: 224px;
    height: 224px;
  }

  .sec3-content-3 {
    padding: 30px;
    margin-top: 50px;
  }

  .sec3-content-title-body {
    right: 0%;
    top: -20px;
  }

  .sec3-content-3-text {
    font-size: 16px;
    text-align: justify;
  }

  /* Section-4 Style */
  .sec4-content-1 {
    font-size: 16px;
    margin-top: 30px;
  }

  .sec4-content-2 {
    gap: 40px;
  }

  .sec4-content-2-box {
    height: 380px;
  }

  .sec4-content-2-deatils {
    height: 100px;
  }

  .sec4-content-2-deatil-title {
    font-size: 16px;
  }

  .sec4-content-2-deatil-content {
    font-size: 14px;
  }
  .sec4-content-2-button {
    padding: 6px 14px;
    font-size: 14px;
  }

  /* Section-5 Style */
  .section5 {
    padding-bottom: 50px;
  }

  .sec5-title-sub-body {
    margin-top: 20px;
  }

  .sec5-content-1 {
    margin-top: 40px;
  }

  .sec5-content-box1-content-body {
    min-height: 250px;
  }

  .sec5-content-box1-content-sub-body {
    min-height: 200px;
  }

  .sec5-content-box1-content-header {
    width: 70px;
    height: 34px;
  }

  .sec5-content-box1-content {
    font-size: 16px;
    margin-top: 10px;
    padding-left: 16px;
  }

  .sec5-content-box1-content-footer {
    margin-top: 15px;
  }

  .sec5-content-box1-content-footer-img {
    width: 35px;
    height: 35px;
  }

  .sec5-content-box1-content-footer-text span {
    font-size: 14px;
  }

  /* Footer Style */
  .footer {
    padding-bottom: 40px;
  }

  .footer-content-box {
    margin-top: 60px;
    max-width: 360px;
    gap: 30px;
  }
  .footer-content1-img {
    width: 280px;
    height: auto;
  }

  .footer-content1-text-body {
    height: 100px;
    padding-top: 0px;
    margin-top: 0px;
    gap: 10px;
  }

  .footer-content1-text {
    gap: 12px;
  }

  .footer-content1-text img {
    width: 14px;
    height: 14px;
  }

  .footer-content1-text span {
    font-size: 16px;
  }

  .footer-content2 {
    max-width: 360px;
  }

  .footer-content2 form {
    gap: 20px;
    padding: 0px 10px;
  }

  form label {
    font-size: 14px;
  }

  .footer-form-content1 span {
    width: 360px;
  }

  .footer-form-content4 button {
    padding: 12px;
  }

  /* copy rights */
  .copyrights-content {
    gap: 0px;
  }
}
